# For projects using nanoc (http://nanoc.stoneship.org/)

crash.log #Well, obviously
.DS_Store #Silly Macintosh shit

# Default location for output, needs to match output_dir's value found in config.yaml
output/

tmp/ #Temporary file directory
