/* 
 * style.css
 * This is the default style for Martin Josefsson's safe haven on the web. 
 * It should be hosted at http://cretscard.com/index.html:80
 * One day I will make this site into a rails app instead of a nanoc one.
 * What better use of my 80 years alive is there? 
 */

html {
	margin-left: 7%;
	margin-right: 7%;


}
body {
	color: #333;
	text-align: left;
	line-height: 1.4;

	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

div.warning {
	padding-left: 1em;
	padding-right: 1em;
	padding-top:5px;
	padding-bottom:5px;
	border: 1px #333 solid;
	border-radius: 3px;

	background: #FFF56B;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF56B', endColorstr='#E6E460'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF56B), to(#E6E460)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFE68,  #E6E460); /* for firefox 3.6+ */
}

a:link {
	color: #026CB1;
	text-decoration: none;
}

a:visited {
	color: #025CA1;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}
