---
shareable: false
---
!!!
%html
  %head
  %body
    %img{:src => "https://sslimgs.xkcd.com/comics/admin_mourning.png"}/
    %p
    When I come home from my programming job I sit in front of my computer - I've come to realize that my physical appearance is merely a dependency for my true identities. Identities that appear once in an IRC room, that frequently posted to a forum in 2002 (back then I was ten years old) or one of my hundred throwaway reddit accounts.
    %p
    The day I started experimenting with programming, I wrote in ruby, a language my father told me about long ago. I noticed that I could control the world around me. This feeling still makes me shiver of thankfulness for the hackers that came before me. Then I've been into Python, C, Java and god knows what. I still have lisp (CL and Emacs lisp are on my wish list) and Scala in my dreams. I wish I could do C really well.
    %p
    The meat world seems like an untrue abstraction, a world I from time to time visit. A place to travel between physical terminals. My limbs are not much more than an extension of the keyboard. An interface between the world I can truly touch and the world of which I am behind bars. There is no difference between arms and keys, nor between fingers and vim.
    %p
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube-nocookie.com/embed/5zYOKFjpm9s?rel=0&autoplay=1", :width => "420"}
  / And I know that soon I will be gone
