---
layout: default
shareable: false
---
#intro
  %h2
    This is Martin Josefsson's safe haven
  %p
    I am into programming, hypertext and free remixable culture.
    %br/
    I live in Berlin, but originated in Sweden. 
    %br/
    Ruby, Rails and C is what gets most of my brain cycles. 
    %br/
    If you wish to contact me, head on to 
    %a{href:'/me/'}
      the page I made about myself.

#articles
  %h2 Articles
  %ul
    -(@site.sorted_articles).each do |post|
      %li
        =link_to(post[:title], post.path) 

-# #treasures
  %h2 Good finds
  When sailing the web you occasionally port at good loot. On <a href="/finds/">this page</a> I repost some treasures.
