---
layout: default
shareable: false
---
#intro
  %h2
    This is Martin Josefsson's safe haven
  %p
    I am into programming, hypertext and free remixable culture.
    %br/
    I live in Berlin, but originated in Sweden. 
    %br/
    Ruby, Rails and C is what gets most of my brain cycles. 
    %br/
    If you wish to contact me, head on to 
    %a{href:'/me/'}
      the page I made about myself.
  %p
    By the way, I'd love to create a 
    %a{href:'/webapp/'}webapp 
    with you. Let's meet up somewhere in Berlin this weekend and draw some sketches of how we could implement your idea! Just drop me an 
    %a{href:'mailto:josefsson.martin@gmail.com'} email
    or tweet
    %a{href:'https://twitter.com/axhlf'} @axhlf.

#articles
  %h2 Articles
  %ul
    -(@site.sorted_articles).each do |post|
      %li
        =link_to(post[:title], post.path) 

-# #treasures
  %h2 Good finds
  When sailing the web you occasionally port at good loot. On <a href="/finds/">this page</a> I repost some treasures.
