---
title: I(O)
shareable: false
---
.rightpic
  %img{src:'https://secure.gravatar.com/avatar/60d2200e1ba44ab0f6325875123a2930?s=250', alt:'picture: My meatspaceface'}
%p
  I am named
  %em
    %a{href:"https://github.com/fromheten"}
      fromheten on Github
  or
  %em
    %a{href:"https://stackexchange.com/users/1051403/martin-josefsson"}
      Martin Josefsson on StackExchange
  but I am anonymus where it matters.
%p
  I am a Swede living in Berlin. I am really into computers, and especially software. More specifically, I enjoy writing and reading Ruby (and/on Rails) code. 
%p 
  I like 
  %a{href:'http://bitcoin.org'} bitcoin,
  %a{href:'https://en.wikipedia.org/wiki/Bittorrent'} bittorrent
  and other things distributed that enables data-friendlyness and data-decentralisation.
%p
  I love 
  %a{href:'http://telecomix.org'} Telecomix
  and other non-data-hostile things. 
%p
  Please 
  %a{href:'mailto:josefsson.martin+cretscard@gmail.com'}
    mail me
  if you wonder anything. 
%p
  This website is a nanoc app, and you can browse it's sources and <code>git clone</code> it from 
  %a{href:'http://github.com/fromheten/cretscard.com'}Github
