---
layout: default
shareable: false
title: I heard you want a webapp!
---
%p I work full time as a web developer. I am skilled in every part of the process, from brainstorming, design and actual implemention. I also write and read a lot of code in my free time. 

%p If you have an exciting project that needs software, I'm your guy. This would then be a weekend project, where you and I meet up at a cafe or skype. I am open to most kinds of project is you have an interesting idea, but I would like to create something with a framework called Meteor or with one called Socket.io. They both make it possible to create webapps that update in real time, and that is Super Cool. I mean, the user won't ever have to download a page, but only subscribe to data from the server. Neato! 
%p 
  Do you consider doing a weekend project with me? Please note that I'm not really interested in it for the money, but to create something for fun. At the 
  %a{href:"/me"} me page 
  I have an 
  %a{href:"mailto:josefsson.martin+weekendproject@gmail.com"} email adress
  you can use. I live in Berlin, so if you need to meet me in real life and drink coffee it's best if you do too. I speak decent German, so you don't nead to be a Swenglish virituoso. 
  %p Hugs!
